* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  background-color: rgb(242, 160, 152);
  padding: 20px 80px;
}
ul {
  list-style: none;
}
.header ul li {
  display: inline;
  padding: 1%;
}
.header a {
  text-decoration: none;
  color: black;
}
.carousel {
  background-image: url(./Image/BG.png);
  background-size: cover;
  height: 80vh;
  background-position: center;
}
.activities {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 80px 0px;
  background-color: rgb(234, 229, 224);
}
.activities_item {
  margin-right: 50px;
  background-color: transparent;
}
.activities_card {
  width: 22.5%;
  float: left;
  border-radius: 15px;
  margin: 5px;
  margin-left: 25px;
  background-color: white;
  padding: 15px;
}
.activities_img {
  position: relative;
}
.activities_img img {
  width: 90%;
  border-radius: 15px;
  margin-top: 5%;
}
.img_heart {
  width: 42px;
  height: 42px;
  background: rgba(249, 249, 249, 0.6);
  border-radius: 15px;
  line-height: 42px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.img_heart i {
  color: rgb(250, 150, 20);
}
.activities_detail h3 {
  color: black;
  margin: 5px;
}
.activities_detail p {
  color: rgb(158, 158, 158);
  margin: 5px;
}
.activities_detail button {
  padding: 15px 25px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}
.ac_view button:hover,
.activities_card:hover {
  background-color: #e76f51;
  color: white;
}
.ac_view button {
  height: 40px;
  width: 160px;
  border-radius: 32px;
  border: none;
  border: solid rgb(225, 183, 103);
  cursor: pointer;
  margin-top: 40px;
}
.contact_logo,
.contact_content {
  padding: 20px;
  width: 50%;
  float: left;
  background-color: #f3ebea;
}
.contact_logo {
  background-image: url(./Image/mask.png);
  background-size: cover;
  background-position: center;
}
.contact_content {
  height: 400px;
  padding: 50px 0px;
  padding-right: 30px;
}
.app,
.follow {
  float: left;
  display: inline;
  padding-right: 20px;
}
.follow i {
  width: 20px;
  height: 20px;
  font-size: 25px;
  margin-right: 15px;
  color: #e76f51;
}
.footer{
  padding: 30px 10px;
  border-top: 2px solid rgb(245, 216, 221);
  background-color: rgb(245, 216, 221);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.c1,.c2,.c3,.c4{
  width: 15%;
  float: left;
  border-radius: 20px;
}
.c1{
  width: 50%;
}
.footer li{
  margin: 10px;
  padding: 10px;
}
.footer h3{
  margin: 20px;
}
.footer p{
  margin: 20px;
  line-height: 50px;
}
.c5{
  margin: 10px;
  text-align: center;
}
.clear {
  clear: both;
}
